importing Libraries

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
import pandas as pd
import os
os.chdir("C:/Users/pavan/Desktop/sony sentiment analysis")

In [2]:
train_tweets = pd.read_csv('Data/train.csv')
test_tweets = pd.read_csv('Data/test.csv')

In [3]:
#training details
train_tweets.shape
train_tweets.columns
train_tweets.isnull().sum()

textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [4]:
train_tweets.dtypes

textID           object
text             object
selected_text    object
sentiment        object
dtype: object

In [5]:
train_tweets.head(5)

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [6]:
#test details
test_tweets.shape
test_tweets.columns
test_tweets.isnull().sum()

textID       0
text         0
sentiment    0
dtype: int64

In [7]:
test_tweets

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

Exploratory Data Analysis

In [8]:
# percentage of missing values and filled values in train

print(train_tweets.notnull().sum())
print(train_tweets.isnull().sum())

textID           27481
text             27480
selected_text    27480
sentiment        27481
dtype: int64
textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [9]:
train_tweets.isnull().sum()

textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [10]:
train_tweets.dropna(inplace=True)

In [11]:
train_tweets.isnull().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [12]:
# percentage of missing values and filled values in test

print(test_tweets.notnull().sum())
print(test_tweets.isnull().sum())

textID       3534
text         3534
sentiment    3534
dtype: int64
textID       0
text         0
sentiment    0
dtype: int64

In [13]:
temp = train_tweets.groupby('sentiment').count()['text'].reset_index().sort_values(by='text',ascending=False)
temp.style.background_gradient(cmap='Purples')

In [14]:
# train test split
train, test = train_test_split(train_tweets, test_size = 0.2, stratify = train_tweets['sentiment'], random_state=21)

# get the shape of train and test split.
train.shape, test.shape
## >> ((25569, 3), (6393, 3))

((21984, 4), (5496, 4))

In [15]:
train_tweets

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [16]:
# create a TF-IDF vectorizer object
tfidf_vectorizer = TfidfVectorizer(lowercase= True, max_features=1000, stop_words=ENGLISH_STOP_WORDS)

# fit the object with the training data tweets
tfidf_vectorizer.fit(train_tweets['text'])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=1000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words=frozenset({'a', 'about', 'above', 'across', 'after',
                                      'afterwards', 'again', 'against', 'all',
                                      'almost', 'alone', 'along', 'already',
                                      'also', 'although', 'always', 'am',
                                      'among', 'amongst', 'amoungst', 'amount',
                                      'an', 'and', 'another', 'any', 'anyhow',
                                      'anyone', 'anything', 'anyway',
                                      'anywhere', ...}),
                strip_accents=None, sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [17]:
# transform the train and test data
train_idf = tfidf_vectorizer.transform(train_tweets.text)
test_idf  = tfidf_vectorizer.transform(test_tweets.text)

In [18]:
# create the object of LinearRegression Model
model_LR = LogisticRegression()

# fit the model with the training data
model_LR.fit(train_idf, train_tweets.sentiment)

# predict the label on the traning data
predict_train = model_LR.predict(train_idf)

# predict the model on the test data
predict_test = model_LR.predict(test_idf)

C:\Users\pavan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pavan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [19]:
pipeline = Pipeline(steps= [('tfidf', TfidfVectorizer(lowercase=True,
                                                      max_features=1000,
                                                      stop_words= ENGLISH_STOP_WORDS)),
                            ('model', LogisticRegression())])

# fit the pipeline model with the training data                            
pipeline.fit(train_tweets.text, train_tweets.sentiment)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=1000,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=frozenset({'a', 'about', 'above',
                                                       'across', 'after',
                                                       'afterward...
                                 strip_accents=None, sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='warn', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [35]:
text = ["first class in exam"]

# predict the label using the pipeline
pipeline.predict(text)

array(['neutral'], dtype=object)

In [21]:
import pickle
file = open('tweet.pkl', 'wb')

# dump information to that file
pickle.dump(pipeline, file)

In [38]:
text=["Muttiah Muralitharan on ‘800’: ‘I trust Vijay Sethupathi to nail my bowling expressions"]

In [40]:
pipeline.predict(text)

array(['neutral'], dtype=object)

In [41]:
import pickle 

# model load sentiment analysis:
with open('tweet.pkl','rb') as f:
    data = pickle.load(f) 

 
print(data.predict(["Muttiah Muralitharan on ‘800’: ‘I trust Vijay Sethupathi to nail my bowling expressions"]))

['neutral']